include blist/_blist.c
include blist/__init__.py
include blist/_sorteddict.py
include blist/_sortedlist.py
include blist/_btuple.py
include setup.py
include test_blist.py
include blist/test/*.py
include README.rst
include LICENSE
include prototype/blist.py
include ez_setup.py
include speed_test.py
include blist.rst
include blist/blist.h
