include _blist.c
include blist.py
include _sorteddict.py
include _sortedlist.py
include _btuple.py
include setup.py
include test_blist.py
include test/*.py
include README.rst
include LICENSE
include prototype/blist.py
include distribute_setup.py
include speed_test.py
include blist.rst
include blist.h
